@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* width */
  ::-webkit-scrollbar {
    @apply w-2
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-inherit
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-pink-200 dark:bg-violet-600 rounded-xl
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-violet-700
  }
}
:root {
  --background: #f0f3f7;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

